<div class="sm:flex hidden w-full h-screen justify-center p-10 snap-center" id="#top">
    <img class="h-[400px] rounded-l-2xl rounded-r-lg self-center" src="/me.jpeg" />
    <div class="flex flex-col justify-center">
        <div class="w-[340px] h-[200px] bg-slate-400 rounded-t-2xl rounded-r-2xl rounded-bl-lg flex flex-col justify-center">
            <div class="w-full text-center text-5xl p-2">👋 I'm Max</div>
            <div class="w-full text-center text-5xl p-2">McKelvey</div>
        </div>
        <div class="w-[200px] h-[300px] bg-slate-200 rounded-b-2xl rounded-r-2xl rounded-tl-lg flex flex-col justify-center">
            <div class="text-center text-lg mx-8 my-1">
                <span class="link link-underline link-underline-black">
                    <a href="#skills">I'm a full stack engineer →</a>
                </span>
            </div>
            <br/>
            <div class="w-full text-lg px-8 py-1">
                I love...
                <ul class="ml-2">
                    <li>good coffee</li>
                    <li>cycling</li>
                    <li>interesting projects</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="sm:hidden flex flex-col w-full h-screen justify-center snap-center">
    <img class="h-[400px] rounded-3xl self-center" src="/me.jpeg" />
    <div class="pt-10"/>
    <h1 class="w-full text-center text-5xl p-5 bg-slate-400">👋 I'm Max <div class="pt-5"/> McKelvey</h1>
</div>
<div class="sm:hidden flex flex-col w-full h-screen justify-center snap-center">
    <div class="w-[200px] h-[300px] bg-slate-200 rounded-3xl flex flex-col justify-center self-center">
        <div class="text-center text-lg mx-8 my-1 self-center">
            <span class="link link-underline link-underline-black">
                <a href="#skills">I'm a full stack engineer →</a>
            </span>
        </div>
        <br/>
        <div class="w-full text-lg px-8 py-1">
            I love...
            <ul class="ml-2">
                <li>good coffee</li>
                <li>cycling</li>
                <li>interesting projects</li>
            </ul>
        </div>
    </div>
</div>